.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav-list {
  display: flex;
  gap: 1.5rem;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li a {
  text-decoration: none;
}
.nav-list li a:active {
  color: red;
}
